<mat-dialog-content>
<section fxLayout="column" fxLayoutAlign="center center">
    <mat-vertical-stepper [linear]=false #stepper  >
      <mat-step [stepControl]="rideFormGroup">
        <form [formGroup]="rideFormGroup" (ngSubmit)="form6()" #formsix="ngForm" >
          <ng-template matStepLabel>Enter the name of the ride</ng-template>
          <mat-form-field>
            <input matInput placeholder="Ride name" formControlName="rideNameFF" [(ngModel)]=ride required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm" >
          <ng-template matStepLabel>Fill out your desination</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="DestinationFF" [(ngModel)]=dest required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="form3()" #formthree="ngForm" >
          <ng-template matStepLabel>Fill out your starting location</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="startingLocationFF" [(ngModel)]=sL required>
          </mat-form-field>
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (ngSubmit)="form2()" #formtwo="ngForm" fxLayoutAlign="center start" fxLayout="column">
          <ng-template matStepLabel>Choose date and time of departure</ng-template>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="timeOfDepartureFF" [(ngModel)]=sT required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div fxLayout="row">
            <mat-form-field appearance="outline">
              <mat-label>Hour of departure</mat-label>
              <input type="number" matInput placeholder="Please use 24hr format" formControlName="hourOfDepartureFF" [(ngModel)]=sH required min="0" max="23"> 
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Minute of departure</mat-label>
              <input type="number"  matInput placeholder formControlName="minuteOfDepartureFF" [(ngModel)]=sM required min="0" max="59" >
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup" (ngSubmit)="form4()" #formfour="ngForm" fxLayoutAlign="center start" fxLayout="column">
          <ng-template matStepLabel>Enter the number of max passengers</ng-template>
          <mat-form-field>
            <input type="number" matInput placeholder formControlName="maxPassengersFF" [(ngModel)]=p required min="1">
          </mat-form-field>
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    
      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup" (ngSubmit)="final()" #formfive="ngForm" >
          <ng-template matStepLabel>Ride options</ng-template>
          <div fxLayoutAlign="center center" fxLayout="column">
            <button mat-button type="button" mat-raised-button color="warn" (click)="onClick()">DELETE RIDE</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    
    </section>


<mat-card-actions fxLayoutAlign="center" fxLayoutGap="10px">
    <button type="submit" mat-stroked-button color="warn"
    (click)="onClick()">CANCEL</button>
    <button type="submit" mat-raised-button color="warn"
    (click)="onClick()">OK</button>
</mat-card-actions>
</mat-dialog-content>