<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
  #f="ngForm" (ngSubmit)="onSubmit(f)">
  <!-- <font *ngIf="emailInUse" color="red">Email already in use. Please enter another email address!</font> -->
    <mat-form-field hintLabel="This will be used for signing in.">
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Please write Your email address.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Please use the correct email format.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" hintLabel="Please enter minimum 8 characters.">
      <mat-label>Your password</mat-label>
      <input type="password" matInput placeholder [type]="hide ? 'password' : 'text'" ngModel name="password" [(ngModel)]=password required minlength="8" #passInput="ngModel">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
      <mat-hint align="end">{{ passInput.value?.length }} /8 </mat-hint>
      <mat-error *ngIf="passInput.hasError('required')">Please enter minimum 8 characters.</mat-error> 
      <mat-error *ngIf="!passInput.hasError('required')">Please enter minimum 8 characters.</mat-error> 
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="First name" ngModel name="firstName" required #firstNameInput="ngModel" > 
      <mat-error *ngIf="firstNameInput.hasError('required')">Please write Your first name.</mat-error> 
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Last name" ngModel name="lastName" required #lastNameInput="ngModel">
      <mat-error *ngIf="lastNameInput.hasError('required')">Please write Your last name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="tel" matInput placeholder="Mobile phone number" ngModel name="phone" required #phoneInput="ngModel" minlength="6">
      <mat-error *ngIf="phoneInput.hasError('required')">Please write Your mobile number.</mat-error>
      <mat-error *ngIf="!phoneInput.hasError('required')">Your phone number is too short.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Address" ngModel name="address" required #adressInput="ngModel">
      <mat-error *ngIf="adressInput.hasError('required')">Please write Your full address.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatPlaceholder="always" floatLabel="always" class="mat-form-field--no-underline">
      <mat-label>Account type</mat-label>
    <input matInput placeholder style="display: none">
    <mat-radio-group ngModel name="typeOfUser" [(ngModel)]=typeOfUser required #typeOfUserInput="ngModel" fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
      <mat-radio-button value="Driver">Driver</mat-radio-button>
      <mat-radio-button value="Passenger">Passenger</mat-radio-button>
    </mat-radio-group>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-checkbox color="warn" ngModel name="acceptance" required></mat-checkbox>
    I accept the <a href="javascript:;" (click)="onTos()">terms and conditions</a> of use.
  </div>


    <button type="submit" mat-raised-button color="warn" [disabled]="f.invalid">
      Sign up!
    </button>
  </form>
</section>