<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Carpooling Logo" src="carpooling.png">
</div>
<h2>This is application for riding students from home to university, below are the most important options: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Driving schedule</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Drivers & vechiles</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">About us</a></h2>
  </li>
</ul>

<!--Angular dugme primer-->
<section>
  <button mat-raised-button color="primary">Click me !</button>
</section>
<section>
  <button mat-icon-button color="accent">
    <mat-icon>home</mat-icon>
  </button>
</section>

<!--Mesto prikazivanja rute-->
<router-outlet></router-outlet>

