
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="false" >
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
          <mat-icon>home</mat-icon>
          Home
      </a>
      <a *ngIf="!loggedIn" mat-list-item routerLink="/signup" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        Register
      </a>
      <a *ngIf="!loggedIn" mat-list-item routerLink="/login" (click)="sidenav.close()">
        <mat-icon>input</mat-icon>
        Log in
      </a>
      <a *ngIf="loggedIn" mat-list-item routerLink="/all-rides" (click)="sidenav.close()">
        <mat-icon>directions_car</mat-icon>
        Rides
      </a>
      <a *ngIf="loggedIn" mat-list-item routerLink="/notifications" (click)="sidenav.close();onBadge()">
        <mat-icon>calendar_view_day</mat-icon>
        <a><span matBadge="3" matBadgeOverlap="true" matBadgeColor="white" [matBadgeHidden]=hiddenBadge>Actions</span></a>
      </a>
      
      <a *ngIf="loggedIn && this.US.getCurrentUser().typeOfUser == 'Driver'" mat-list-item routerLink="/new-ride" (click)="sidenav.close()">
        <mat-icon>directions_bus</mat-icon>
        New Ride
      </a>
      <a *ngIf="loggedIn" mat-list-item routerLink="/profile" (click)="myProfile(); sidenav.close()">
        <mat-icon>person</mat-icon>
        My Profile
      </a>
      <a *ngIf="loggedIn" mat-list-item routerLink="/" (click)="sidenav.close(); signOut()">
        <mat-icon>exit_to_app</mat-icon>
        Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
        <div fxHide.gt-xs>
          <button mat-raised-button color="foreground" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        
        <div fxFlex fxLayoutAlign="start" fxLayoutGap="35px" fxHide.xs>

            <a routerLink="/">Home</a>
            <a *ngIf="!loggedIn" routerLink="/signup">Register</a>
            <a *ngIf="!loggedIn" routerLink="/login">Log in</a>
            <a *ngIf="loggedIn" routerLink="/notifications" (click)="onBadge()"><span matBadge="3" matBadgeOverlap="true" matBadgeColor="foreground" [matBadgeHidden]=hiddenBadge >Actions</span></a>
            <a *ngIf="loggedIn && this.US.getCurrentUser().typeOfUser == 'Driver'" routerLink="/new-ride">New Ride</a>
            <a *ngIf="loggedIn" routerLink="/all-rides">Rides</a>
            <div *ngIf="loggedIn" [matMenuTriggerFor]="menu" >
              <a href="javascript:;" fxLayoutAlign="center center">{{ this.US.getCurrentUser().firstName }}
              <mat-icon>expand_more</mat-icon>
              </a>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/profile" (click)="myProfile()">My Profile</button>
              <button mat-menu-item routerLink="/" (click)="signOut()">Log Out</button>
            </mat-menu>
        </div>
        <div fxHide.gt-xs fxFlex="63%" fxLayoutAlign="center"><font face="verdana" size="+2.5" color="white"><i>{{ route }}</i></font></div>
        <div fxHide fxShow.gt-xs fxFlex="58%" fxLayoutAlign="start"><font face="verdana" size="+2.5" color="white"><i>{{ route }}</i></font></div>
        
        
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
