<h2 mat-dialog-title>Terms and Conditions of Use</h2>
<mat-dialog-content class="mat-typography">
    <h3>This are our Terms of Service and Conditions</h3>
    <h3>You can't take data from this, also we garantee protection and privacy for your personal data</h3>
    <p>Pcitures and data from this application can't be used in any commercial purposes.</p>
    <h3>This application is free to us</h3>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px">
    <button type="submit" mat-raised-button color="warn"
    (click)="onClick()">Close</button>
</mat-dialog-actions>