<mat-card class="example-card" *ngFor="let ride of this.listCurrentUserApprovedRides()">
  <mat-card-header>
    <mat-card-title><font size="-1">Your ride has been approved: {{ride.rideName}} on {{ride.timeOfDeparture}} from <a href="https://www.google.com/maps/dir/{{ride.startingLocation}},+Beograd+11000/{{ride.destination}}/" target="_blank">{{ride.startingLocation}} to {{ride.destination}}</a></font> </mat-card-title>
    <mat-card-subtitle>
    <div fxLayoutAlign="start center" fxLayout="row" routerLink="/profile" (click)="this.US.profileToShow=ride.idDriver">
      <a href="javascript:;">{{ this.US.getNameById(ride.idDriver) }}</a>
      <mat-icon>stars</mat-icon>
      {{this.US.getRatingById(ride.idDriver)[0]}}
    </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>